td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

.boja1 {
    background-color: indianred;
}

.boja2 {
    background-color: lightgrey;
}

.ljubicasti {
    color: purple;
}